@keyframes hideAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: visible;
  }
}

p {
  &.error {
    color: red;
  }

  &.success {
    color: green;
    animation: hideAnimation 3s linear forwards;
  }
}

input {
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  &.ng-valid.ng-touched {
    border: 1px solid green;
  }
}

.form-control small {
  display: block;
}

//
/* registration-form.component.scss */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
}

.header {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.logo {
  width: 100px;
}
