<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Форма регистрации</h1>

    <div class="form-control">
      <label>Имя</label>
      <input type="text" placeholder="Имя" formControlName="name" />
      <div class="validation"></div>
    </div>

    <div class="form-control">
      <label>Фамилия</label>
      <input type="text" placeholder="Фамилия" formControlName="surname" />
      <div class="validation"></div>
    </div>

    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email" />
      <div class="validation"></div>
    </div>

    <div class="form-control">
      <label>Пароль</label>
      <input type="password" placeholder="Пароль" formControlName="password" />
      <div class="validation"></div>
    </div>

    <div class="form-control">
      <label>Подтверждение пароля</label>
      <input
        type="password"
        placeholder="Подтверждение пароля"
        formControlName="confirmPassword"
      />
      <div class="validation"></div>
    </div>

    <div class="form-control">
      <label>Дата рождения</label>
      <input
        type="date"
        placeholder="Дата рождения"
        formControlName="birthday"
      />
      <div class="validation"></div>
    </div>

    <button class="btn" type="submit" [disabled]="form.invalid">
      Отправить
    </button>
  </form>
</div>
