<mat-form-field>
  <mat-label>Title</mat-label>
  <input matInput required [(ngModel)]="title" maxlength="20" />
</mat-form-field>
<mat-form-field>
  <mat-label>UserID</mat-label>
  <mat-select [(ngModel)]="userID">
    <mat-option value="1">1</mat-option>
    <mat-option value="2">2</mat-option>
    <mat-option value="3">3</mat-option>
    <mat-option value="4">4</mat-option>
    <mat-option value="5">5</mat-option>
    <mat-option value="6">6</mat-option>
    <mat-option value="7">7</mat-option>
    <mat-option value="8">8</mat-option>
    <mat-option value="9">9</mat-option>
    <mat-option value="10">10</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Body</mat-label>
  <textarea matInput [(ngModel)]="body" maxlength="50"></textarea>
</mat-form-field>

<button mat-flat-button color="primary" (click)="createPost()">Создать</button>
