<div class="card">
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Заголовок</mat-label>
      <input matInput required formControlName="title" maxlength="20" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>UserID</mat-label>
      <mat-select required formControlName="userID">
        <mat-option *ngFor="let option of options" [value]="option">{{
          option
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Текст записи</mat-label>
      <textarea
        required
        matInput
        formControlName="body"
        maxlength="250"
      ></textarea>
    </mat-form-field>

    <mat-error *ngIf="form.invalid && form.touched" class="error">
      * - обязательно для заполнения
    </mat-error>
    <mat-error *ngIf="error"> Ошибка отправки: {{ error }} </mat-error>

    <button
      mat-raised-button
      class="btn"
      type="submit"
      color="primary"
      (click)="createPost()"
    >
      Создать
    </button>
  </form>
</div>
