@keyframes slideInAndHide {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  70% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-in-and-hide {
  animation: slideInAndHide 5s ease-out forwards; /* Применение анимации */
}

.success {
  background-color: #0dc143;
  padding: 15px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.form-control {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

.header {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.logo {
  width: 100px;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
  position: inherit !important;
}

[ng-reflect-ng-switch="error"]::before {
  display: none !important;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 40px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
}

button[type="submit"] {
  width: 100%;
}
