table {
  width: 100%;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 35px;
  padding: 5px;
}

.mat-column-actions {
  white-space: nowrap;
}

.mat-mdc-cell.mat-column-userId,
.mat-mdc-cell.mat-column-title,
.mat-mdc-cell.mat-column-body {
  flex: 1;
}

.mat-mdc-cell.mat-column-userId input,
.mat-mdc-cell.mat-column-title input,
.mat-mdc-cell.mat-column-body textarea {
  width: 100%;
  box-sizing: border-box;
}
